<!-- <div>
    <h1>Login Form</h1>
    <div class="card flex flex-column md:flex-row gap-3">
        <p-inputGroup>
            <p-inputGroupAddon>UserName
                <!-- <i class="pi pi-user"></i> -->
            </p-inputGroupAddon>
            <input pInputText placeholder="Username" [(ngModel)]="loginObj.userName" />
        </p-inputGroup>
        <p-inputGroup>
            <p-inputGroupAddon>PassWord</p-inputGroupAddon>
            <input type="text" pInputText placeholder="Password" [(ngModel)]="loginObj.password" />
        </p-inputGroup>
        <button (click)="login()">Login</button>
    </div>

</div> -->


